body {
    background-color: black;
    color: rgb(222, 94, 184);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p, li{
    color: rgb(243, 163, 223);
    font-size: 18px;
}

h2 {
    background-color: rgb(99, 7, 99);
    border: groove rgb(55, 4, 53);
    margin-right: 80%;
}

p, ol, ul {
    border: solid;
    background-color: rgb(106, 6, 117);
    padding: 30px;
    margin-right: 500px;
}

ul {
    margin-right: 80%;
}


