a {
    color: rgb(62, 142, 240);
    font-size: 18px;
}

h1 {
    color: rgb(25, 209, 237);
}

body {
    background-color: black;
}

li {
    color: rgb(62, 142, 240);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}